{% extends 'base/base.html' %}
{% load static %}
{% block title %}Demo Django - Home{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Demonstração de aplicação Django
                </h2>
                <p>
                    Esse site é uma demonstração de uma aplicação django.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="http://phsolucoesweb.com.br/" target="_blank">Leia Mais
                    </a>
                </p>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Framework Web Utilizado
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/django.png' %}" alt="Imagem do django" class="img-thumbnail
                                float-left m-3"/>
                                Django é um framework para desenvolvimento rápido para web, escrito em Python, que
                                utiliza o padrão model-template-view (MTV).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin MY Signup Form -->

<div class="container">
    <h2 class="mt-4 mb-4"> Se inscreva para receber novidades!</h2>
    <form class="row gy-2 gx-3 align-items-center" action="https://phsolucoesweb.us6.list-manage.com/subscribe/post?u=e7c234524a0183f827ec51eaa&amp;id=a31dcef78a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="col-auto">
        <label class="visually-hidden" for="mce-EMAIL">E-mail</label>
        <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com.br">
      </div>

        <div class="col-auto">
        <label class="visually-hidden" for="mce-FNAME">Nome</label>
        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">
      </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e7c234524a0183f827ec51eaa_a31dcef78a" tabindex="-1" value=""></div>
      <div class="col-auto">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
      </div>
    </form>
</div>

{% endblock body %}